@use '../abstracts/variables';
.container {
    width: 85vw;
    max-width: variables.$maxContentWidth;
    margin: 0 auto;
    padding: 0;
}
.container.narrow {
    justify-content: center;
    max-width: 1025px;
    width: auto;
}