@use '../abstracts/mixins';
@use '../abstracts/variables';

.site-header {
    position: sticky;
    top: -1px;
    z-index: 1;
    background: #0b0c10;
    color: #e9eef3;
    border-bottom: 1px solid var(--border);
    transition: background variables.$transition-slow, color variables.$transition-slow, border-bottom variables.$transition-slow;

    &.white {
        background: #f7f9fc;
        color: #101418;
    }
}


.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.brand {
    font-weight: 800;
    letter-spacing: 0.4px; 
    display: flex;
    align-items: center;
    gap: 10px
}

.logo-header-image {
    width: 85px;
    // height: 100px;
    border-radius: 0;
    display: flex;
    align-items: center;
    transition: background variables.$transition-slow, color variables.$transition-slow;
}

.nav {
    display: flex;
    gap: 18px;
    flex: 1; // Take up available space
    justify-content: center; // Center the nav items
}

.nav a {
    color: var(--muted);
    font-weight: 500;
}

.nav a:hover {
    color: var(--text);
}

.header-cta {
    display: flex;
    gap: 10px;

    // Hide when empty (all children commented out)
    &:empty {
        display: none;
    }
}

.menu-toggle {
    display: none;
    background: none;
    border: 0;
    color: var(--text);
}

.menu-toggle span {
    display: block;
    width: 22px;
    height: 2px;
    background: var(--text);
    margin: 4px 0;
}


@include mixins.respond(sm) {
    .nav {
        display: none;
    }

    .menu-toggle {
        display: block;
    }
}