@use 'mixins';
#preloader {
  @include mixins.flex-center();
  position: fixed;
  inset: 0;
  background: #000000;     /* Change this if your GIF looks better on dark bg */
  z-index: 9999;
}

#loader-logo {
  width: 150px;            /* adjust size */
  opacity: 0;
  transform: scale(0.8);
}

#content {
  // display: none; /* hide site initially until preloader finishes */
  opacity: 0;             /* hide site initially */
}
.reveal-text span {
  display: inline-block;
  will-change: transform, opacity;
}
.amimated-text {
  display: flex;
  align-items: center;
  gap: 2rem;
  // z-index: 1;
}


// @use 'mixins';
// #preloader {
//   @include mixins.flex-center();
//   position: fixed;
//   inset: 0;
//   background: #000000; /* This remains the same */
//   z-index: 9999;
//   transform: translateY(0); /* Reset any previous transform */
// }

// #loader-logo {
//   width: 150px; /* Adjust size */
//   opacity: 0;
//   transform: scale(0.8);
// }

// #content {
//   position: relative; /* Change position if necessary to avoid overlap issues */
//   opacity: 1; /* Adjust this if you want instant visibility */
//   /* Remove opacity setting if you want to show content immediately after the preloader rolls up */
// }